@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --radius: 8px;
}

body {
  font-family: "Inter", sans-serif;
}

/* Utility classes */

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-start {
  @apply flex items-center justify-start;
}

.h1-bold {
  @apply text-[30px] leading-[42px] font-bold tracking-tighter;
}

.h2-bold {
  @apply text-[24px] leading-[31.2px] font-bold;
}

.h2-semibold {
  @apply text-[24px] leading-[31.2px] font-semibold;
}

.h3-bold {
  @apply text-[20px] leading-[26px] font-bold;
}

.h3-semibold {
  @apply text-[20px] leading-[24.8px] font-semibold;
}

.base-medium {
  @apply text-[18px] leading-[25.2px] font-medium;
}

.base-semibold {
  @apply text-[18px] leading-[25.2px] font-semibold;
}

.base-bold {
  @apply text-[18px] leading-[140%] font-bold;
}

.paragraph-regular {
  @apply text-[16px] leading-[22.4px] font-normal;
}

.paragraph-medium {
  @apply text-[16px] leading-[22.4px] font-medium;
}

.paragraph-semibold {
  @apply text-[16px] leading-[20.8px] font-semibold;
}

.body-regular {
  @apply text-[14px] leading-[19.6px] font-normal;
}

.body-medium {
  @apply text-[14px] leading-[18.2px] font-medium;
}

.body-semibold {
  @apply text-[14px] leading-[18.2px] font-semibold;
}

.body-bold {
  @apply text-[14px] leading-[18.2px] font-bold;
}

.small-regular {
  @apply text-[12px] leading-[15.6px] font-normal;
}

.small-medium {
  @apply text-[12px] leading-[15.6px] font-medium;
}

.small-semibold {
  @apply text-[12px] leading-[15.6px] font-semibold;
}

.subtle-medium {
  @apply text-[10px] leading-[13px] font-medium;
}

.subtle-regular {
  @apply text-[10px] leading-[13px] font-normal;
}

/* Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Gradients */

.primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

.dark-gradient {
  background: linear-gradient(
    232deg,
    rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
}

.light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

.primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Other utilities */

.invert-colors {
  @apply invert;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}

.placeholder {
  @apply placeholder:text-gray-400;
}

/* Markdown */

.markdown {
  @apply prose max-w-full;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
.markdown code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 2px;
  color: #ff7000;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  display: block;
  width: 100%;
  overflow-x: auto;
  color: inherit;
}

/* Editor */

[data-lexical-editor="true"] {
  height: 350px !important;
  overflow-y: auto !important;
}

.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #000 !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

/* Misc */

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.hash-span {
  display: block;
  margin-top: -140px;
  padding-bottom: 140px;
}